ErrorDocument 400 /404.html
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html

Header set Access-Control-Allow-Origin "*"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Specific rewrite rules for each page
    RewriteRule ^about$ about.html [L]
    RewriteRule ^contact$ contact.html [L]
    RewriteRule ^impact$ impact.html [L]
    RewriteRule ^apply$ apply.html [L]
    RewriteRule ^application-form$ application-form.html [L]
</IfModule>